.Header button {
    padding: 5px;
    border-radius: 12px;
    border: none;
    font-family: 'Rock Salt', cursive;
    text-decoration: underline;
    font-size: 1.3em;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-right: 150px;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-shadow: 1px 1px slategrey;
}

.Header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
}

.Header h3 {
    margin-right: 20px;
    font-family: 'Rock Salt', cursive;
}

.Header img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px 1px rgba(33, 33, 37, 0.2);
}

.Header h1 {
    font-family: 'Rock Salt', cursive;
    margin-left: 40px;
}