.ShoutoutListTo button {
    padding: 5px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #999;
    display: flex;
    flex-direction: row;
    font-family: 'Rock Salt', cursive;
}

.Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ShoutoutCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.CardBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.ShoutoutListTo p {
    font-family: 'Boogaloo', cursive;
}